{% schema %}
{
  "name": "Navigation",
  "tag": "div",
  "class": "header-group__content",
  "enabled_on": {
    "groups": ["header"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ],
  "presets": [
    {
      "name": "Navigation"
    }
  ]
}
{% endschema %}

<section class="header-group__nav-space">
  <nav class="header-group__nav">
    {%- for link in section.settings.menu.links -%}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {%- endfor -%}
  </nav>
  
  <div class="header-group__lang">
    <button type="button" lang="en">EN</button>
    <button type="button" lang="es">ES</button>
  </div>
</section> 